* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    background-color: red;
}
body {
    height: 100%;
    width: 100%;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr ;
}
.removeDiv {
    grid-area: 2 / 1 / 3 / 2;
}
#bookshelf {
    /* background-color: aquamarine; */
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 50vh);
    grid-auto-rows: 50vh;
    justify-items: center;
    align-items: center;
}
.books {
    height: max(93%, 100px);
    width: 90%;
    border-radius: 0.7vw;
    background-color: wheat;
    outline: 1px black solid;
}
.sidebar {
    width: 100%;
    /* background-color: goldenrod; */
}
.bookNameDiv, .authorNameDiv, .pagesReadDiv, .totalPagesDiv {
    background-color: white;
    outline: red 1px solid;
    /* height: 20%; */
}
.readDiv {
    background-color: aqua;
}
.scoreDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}
.stars {
    /* outline: 1px red solid; */
    justify-self: center;
}